doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Документ на pug 
  body 
    - var text = "Это текст"
    .block
      input(type="text")
      span= Вывести
      | !
    #main3 Content!!!
    ul 
      li A
      li B
      li C
      li D