body {
  background: blue;
}
h1 {
  background: purple;
}

p {
  font-size: 120%;
  color: dimgray;
}

p.smallcaps {
  font-variant: small-caps;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
}
